<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<sectionGroup name = "Codentia.Common.Service">
			<section name = "ServiceBase" type="System.Configuration.NameValueSectionHandler" />
		</sectionGroup>
	</configSections>
	<appSettings>
		<add key="ExceptionReferenceFile" value="ExceptionReference.xml" />
	</appSettings>
	<Codentia.Common.Service>
		<ServiceBase>
			<add key="MainThreadSleepDuration" value="1000" />
			<add key="MainThreadSleepSegment" value="100" />
		</ServiceBase>			   
	</Codentia.Common.Service>
</configuration>